<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Download facebook videos for free using Facebook Video Downloader">
    <meta name="author" content="iCoder">
    <title>Facebook Video Downloader</title>

    <link rel="canonical" href="https://getbootstrap.com/examples/cover/">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = '/css/bootstrap.min.css') }}" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta name="theme-color" content="#563d7c">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = '/cover.css') }}" rel="stylesheet">
</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h4 class="masthead-brand">Facebook Video Downloader</h4>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link " href="/">Home</a>
                    <a class="nav-link active" href="/about">About</a>
                    <a class="nav-link" href="/terms-conditions">Terms & Conditions</a>
                </nav>
            </div>
        </header>
        <div class="jumbotron bg-grey">
            <h1 class="display-4 ">Facebook Video Downloader</h1>
            <p class="lead">About us</p>

        </div>
        <main role="main" class="inner cover">
            <h4> Download facebook videos for free using our tools</h4>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Facebook Video Downloader by <a
                        href="https://www.youtube.com/channel/UCj3HlZ7RFBvy0TcrNiskerw">iCoder</a>.</p>
            </div>
        </footer>
    </div>
</body>

</html>